extends ../layout

block content
  h1 Overdue Books
  include nav
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      each loan in loans
        tr
          td
            a(href=`/books/${loan.book_id}`) #{loan.Book.title}
          td #{loan.Book.author}
          td #{loan.Book.genre}
          td #{loan.Book.first_published}

