extends ../layout

block content
  h1 Patron: #{patron.first_name} #{patron.last_name}
  include ../errorMsg
  form(method='post' action=`/patrons/${patron.id}`)
    p
      label(for='first_name') First Name
      input#first_name(name='first_name' type='text', value=(inputs ? inputs.first_name : `${patron.first_name}`))
    p
      label(for='last_name') Last Name
      input#last_name(name='last_name' type='text', value=(inputs ? inputs.last_name : `${patron.last_name}`))
    p
      label(for='address')  Address
      input#address(name='address' type='text', value=(inputs ? inputs.address : `${patron.address}`))
    p
      label(for='email') Email
      input#email(name='email' type='text', value=(inputs ? inputs.email : `${patron.email}`))
    p
      label(for='library_id') Library ID
      input#library_id(name='library_id' type='text', value=(inputs ? inputs.library_id : `${patron.library_id}`))
    p
      label(for='zip_code') Zip Code
      input#zip_code(name='zip_code' type='text', value=(inputs ? inputs.zip_code : `${patron.zip_code}`))
    p
      input(type='submit', value='Update')
  h2 Loan History
  table
    thead
      tr
        th Book
        th Patron 
        th Loaned on
        th Return by 
        th Returned on
        th Action
    tbody
      each loan in loans
        tr
          td
            a(href=`/books/${loan.book_id}`) #{loan.Book.title}
          td
            a(href=`/patrons/${loan.patron_id}`) #{patron.first_name} #{patron.last_name}
          td #{loan.loaned_on}
          td #{loan.return_by}
          td #{loan.returned_on}
          td
            if !loan.returned_on
              a.button(href=`/loans/return/${loan.id}`) Return Book